/nvim/plugged/
/sublime/WakaTime.sublime-settings
/sublime/oscrypto-ca-bundle.crt
/sublime/Package Control.cache
/sublime/Package Control.merged-ca-bundle
/sublime/Package Control.user-ca-bundle
/sublime/Package Control.last-run
hammerspoon/Spoons/
emacs/spacemacs/
.history
node_modules/
yarn.lock
asdf
vendor
emacs/spacemacs
hammerspoon/Spoons/miro-windows-manager
asdf
.DS_Store
