[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vendor/dotbot-golang"]
	path = vendor/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
[submodule "vendor/dotbot-vscode"]
	path = vendor/dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode.git
[submodule "vendor/dotbot-asdf"]
	path = vendor/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "vendor/dotbot-rust"]
	path = vendor/dotbot-rust
	url = https://github.com/alexcormier/dotbot-rust
[submodule "vendor/dotbot-brewfile"]
	path = vendor/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "hammerspoon/Spoons/miro-windows-manager"]
	path = hammerspoon/Spoons/miro-windows-manager
	url = https://github.com/miromannino/miro-windows-manager.git
	ignore = dirty
[submodule "hammerspoon/Spoons/Lunette"]
	path = hammerspoon/Spoons/Lunette
	url = https://github.com/scottwhudson/Lunette.git
	ignore = dirty
[submodule "emacs/spacemacs"]
	path = emacs/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
