;; this is a little bit weird, but it's convenient
;; the rule [:!Ca :!T1]
;; means from command a to control 1
;; :!Ca is keycode :a and prefix a with !C

;; here's the definition

;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
:templates {
    :launch "open -a '%s.app'"
    :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
}
:simlayers {
    :vi-mode {:key :d}
    :caps_lock-mode {:key :caps_lock}
}
:devices {
  :G915 [{:vendor_id 1133, :product_id 49982}]
  :macbook_internal [{:product_id 1452 :vendor_id 631}]
}
:main [
    ;; vi mode with d key
    {:des "Vi Mode [D as Trigger Key]"
      :rules [:vi-mode
        [:##j :down_arrow]
        [:##k :up_arrow]
        [:##h :left_arrow]
        [:##l :right_arrow]
        [:##b :!Oleft_arrow]
        [:##w :!Oright_arrow]
        [:##a :!Ca]; highlight all
        [:##e :!Te]; go to end of line vKia ctrl-e
        [:##f :return_or_enter]
      ]
    }
    
    ; description with fancy external keyboard
    {:des "G915 change left alt to left command"
        :rules [:G915
          [:left_command :left_option]
          [:left_option :left_command]
          [:right_command :right_option]
          [:right_option :right_command]
        ]}

    {:des "Change caps lock to control"
      :rules [:G915
      [:caps_lock :left_control]]}
-
    {:des "G915"
      :rules [:G915
        [:##left_option :##left_command]
        [:##left_command :##left_option]
        [:caps_lock :##left_control]
        [:f1 :display_brightness_decrement]
        [:f2 :display_brightness_increment]
        [:f3 :mission_control]
        [:f4 :launchpad]
        [:f5 :illumination_decrement]
        [:f6 :illumination_increment]
        [:f7 :rewind]
        [:f8 :vk_consumer_play]
        [:f9 :vk_consumer_next]
        [:f10 :mute]
        [:f11 :volume_decrement]
        [:f12 :volume_increment]
      ]
    }

    {:des "Caps mode",
         :rules [:caps_lock-mode
                 [:open_bracket :!TOopen_bracket]
                 [:close_bracket :!TOclose_bracket]
                 [:semicolon :!TOsemicolon]
                 [:quote :!TOquote]
                 [:comma :!TOcomma]
                 [:period :!TOperiod]
                 [:slash :!TOslash]
                 [:a :!Ta]; ctrl-a start of line
                 [:b :!TOb]
                 [:c :!TOc]
                 [:d :!TOd]
                 [:e :!Te]; ctrl-e end of line
                 [:f :!TOf]
                 [:g :!TOg]
                 [:h :!TOh]
                 [:i :!TOi]
                 [:j :!TOj]
                 [:k :!TOk]
                 [:l :!TOl]
                 [:m :!TOm]
                 [:n :!TOn]
                 [:o :!TOo]
                 [:p :!TOp]
                 [:q :!TOq]
                 [:r :!Tr]; redo in vi
                 [:s :!TOs]
                 [:t :!TOt]
                 [:u :!TOu]
                 [:v :!TOv]
                 [:w :!TOw]
                 [:x :!TOx]
                 [:y :!TOy]
                 [:z :!TOz]
                 [:1 :!TO1]
                 [:2 :!TO2]
                 [:3 :!TO3]
                 [:4 :!TO4]
                 [:5 :!TO5]
                 [:6 :!TO6]
                 [:7 :!TO7]
                 [:8 :!TO8]
                 [:9 :!TO9]
                 [:0 :!TO0]]}
]
